/* #############################################################################
    CARD PRODUCT
############################################################################# */

/*  DEFAULT       ########################################################### */

    .card-product {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid $c_ebb;
        z-index: 5;
        & + .card-product {
            border-left: 0;
        }
        &:hover {
            background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#00ffffff',GradientType=0 );
        }
    }
    .card-product__permalink {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        transition: $t_fast;
        opacity: 0;
    }
    .card-product__image-wrap {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        padding: 20px;
        z-index: 5;
        position: relative;
        mix-blend-mode: multiply;
    }
    .card-product__image {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;

    }
    .card-product__content-wrap {
        padding: 10px 20px 20px 20px;
    }
    .card-product__name {
        font-size: 16px;
        color: $c_shark;
        height: 54px;
        overflow: hidden;
    }
    .card-product__pricing {
        margin-top: 15px;
        color: $c_shuttle;
        font-size: 16px;
        span {
            color: $c_oxford;
            font-size: 23px;
            font-weight: 700;
        }
    }
    .card-product__installment {
        margin-top: 20px;
        font-size: 17px;
        color: $c_shuttle;
        span {
            color: $c_oxford;
            font-weight: 700;
        }
    }
    .card-product__cta {
        padding-top: 0;
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        top: calc(100% - 1px);
        left: -1px;
        width: calc(100% + 1px);
        background: $c_white;
        padding: 0;
        border: 1px solid $c_transparent;
        border-width: 0 0 1px 0;
        opacity: 0;
        z-index: 9;
        @media (min-width: 1024px) { //prevent flicker in transition
            transition: $t_normal;
            &:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0;
                height: 100%;
                width: 1px;
                background: $c_ebb;
            }
            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 1px;
                background: $c_ebb;
            }
        }
    }
    .card-product__add-to-cart {
        position: relative;
        z-index: 20;
        margin: 0 auto;
        width: calc(100% - 40px);
    }

    .card-product:hover {
        .card-product__cta {
            opacity: 1;
            border: 1px solid $c_ebb;
            border-width: 0 0 1px 0;
            padding: 0 0 20px 0;
            max-height: 103px;
        }
    }

    @media (max-width: 1023px) { //in small screens dont hide cta
        .card-product:hover .card-product__cta,
        .card-product__cta {
            position: relative;
            padding: 0;
            opacity: 1;
            border: 1px solid $c_transparent;
            max-height: none;
            .card-product__add-to-cart {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
