/* #############################################################################
    ANIMATION
############################################################################# */

/*  VARIABLES       ######################################################### */

    //transition
    $t_fast: all 150ms ease-in-out;
    $t_normal: all 200ms ease-in-out;
    $t_slow: all 350ms ease-in-out;
