/* #############################################################################
    ITELIOS COLOR TABLE
############################################################################# */

/*  DEFAULT       ########################################################### */

    $c_white:            #ffffff;
    $c_black:            #000000;

/*  ITELIOS       ########################################################### */

    //oranges
    $c_blaze:            #ff6600;

    //neutral
    $c_shark--darker:    #1f2125;
    $c_shark:            #303132;
    $c_oxford:           #353f4f;
    $c_shuttle:          #5e6774;
    $c_silver:           #adadad;
    $c_alto:             #d5d3d3;
    $c_ebb:              #edeaea;
