/* #############################################################################
    TYPOGRAPHY
############################################################################# */

/*  VARIABLES       ######################################################### */

    $f_body: "Roboto", sans-serif;
    $f_headings: "Roboto Condensed", sans-serif;

/*  ELEMENTS       ########################################################## */

    body, p, a {
        font-family: $f_body;
        font-weight: 400;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: $f_headings;
        font-weight: 700;
    }

    b, .b, .bold, em {
        font-weight: 700;
    }
